.app {
  height: 100vh
}

body {
  background-image: url("../public/rick-and-morty-cool.jpg");
}

nav {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(67, 222, 67);
}

.navlink {
  text-decoration: none;
  color: black;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
}

.navlink:hover {
  color: rgb(183, 246, 183);
}

.characters-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
}



.char-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  color: white;
  max-width: 500px;
  padding: 20px;
}

.char-items {
  grid-column: 2 / 3;
}

.char-details img {
  grid-column: 1 / 2;
  box-shadow: 10px 10px 30px rgb(67, 222, 67);
}


@media (max-width: 768px) {
  .char-details {
    grid-template-columns: 1fr;
    align-items: center;
  }
}